package views

templ IndexPage() {
	<form class="my-12" hx-get="/search" hx-push-url="true" hx-target="closest main">
		@searchBar()
		@filters()
	</form>
	<hr class="mb-12 border-highlightHigh"/>
	<hgroup>
		<h3 class="text-2xl mb-2">Supported sites:</h3>
		<ul class="list-disc ml-6">
			<li>Udemy</li>
			<li>Stepik</li>
			<li>Coursera</li>
			<li>edX</li>
			<li>Skillbox</li>
			<li>ALISON</li>
		</ul>
	</hgroup>
}
