package views

templ IndexPage() {
	<hgroup>
		<h1>CourseHunt 📚🔍</h1>
		<h2>Find your knowledge</h2>
	</hgroup>
	<form hx-get="/search" hx-push-url="true" hx-target="closest main">
		<fieldset role="search">
			<input type="search" placeholder="Search query" name="q"/>
			<button type="submit" data-loading-aria-busy>Search</button>
		</fieldset>
		<fieldset>
			<label>
				<input type="checkbox" role="switch" name="free"/>
				Only free courses
			</label>
			<label>
				Language
				<select name="language">
					<option value="any" selected>Any</option>
					<option value="russian">Russian</option>
					<option value="english">English</option>
				</select>
			</label>
		</fieldset>
	</form>
	<hgroup>
		<h3>Supported sites:</h3>
		<ul>
			<li>Udemy</li>
			<li>Stepik</li>
			<li>Coursera</li>
		</ul>
	</hgroup>
}
