package views

import "fxgn.dev/coursehunt/search"
import "strings"

templ SearchPage(results []search.Course) {
	<hgroup>
		<h1>CourseHunt 📚🔍</h1>
		<h2>Find your knowledge</h2>
	</hgroup>
	<form class="grid" hx-get="/search" hx-params="q" hx-push-url="true" hx-target="closest main">
		<fieldset role="search">
			<input type="search" placeholder="Search query" name="q"/>
			<button type="submit" data-loading-aria-busy>Search</button>
		</fieldset>
	</form>
	for _, course := range results {
		@searchResult(course)
	}
}

templ searchResult(course search.Course) {
	<div>
		<p>
			<a href={ templ.URL(course.Url) }>{ course.Name }</a> <mark>{ course.Price }</mark>
			<br/>
			<i>{ course.Author }</i> { strings.Repeat("⭐️", int(course.Rating)) } | { course.Duration }
		</p>
		<p><small>{ course.Description }</small></p>
	</div>
}
