{{ define "content" }}
<div class="headings">
    <h1>CourseHunt 📚🔍</h1>
    <h2>Find your knowledge</h2>
</div>
<form class="grid" hx-get="/search" hx-params="q" hx-push-url="true" hx-target="closest main">
    <input name="q" placeholder="Search query" />
    <button>Search <span aria-busy="true" class="htmx-indicator"></span></button>
</form>
{{ range . }}
<div>
    <a href={{ .Url }}>{{ .Name }}</a> <mark>{{ .Price }}</mark>
    <p><small>{{ .Description }}</small></p>
</div>
{{ end }}
{{ end }}
